<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Yanone+Kaffeesatz:wght@200&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/750a5cf973.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <di class="main-header-top-bar">
                <img class="logo" src="/images/logo-mercado-liebre.svg" title="logo mercado liebre" alt="logo mercado liebre">
                <form class="search" action="/buscar" method="GET">
                    <!-- El atributo action puede llevar a la URL donde se enviará la búsqueda -->
                    <input class="cuotas" type="text" id="busqueda" name="q" placeholder="Buscar productos, marcas">
                    <button class="cuotas" type="submit" value="Buscar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
           
            <p class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito
            </p>
        </di>

        

        
        <nav class="navBar">
            <ul class="left-navBar">
                <li><a href="/ofertas" target="_blank" rel="noreferrer" class="cuotas">Ofertas</a></li>
                <li><a href="#" class="cuotas">Tiendas Oficiales</a></li>
                <li><a href="#" class="cuotas">Vender</a></li>
                <li><a href="#" class="cuotas">Ayuda</a></li>
            </ul>
            <ul class="right-navBr">
                <li><a href="/register" class="cuotas">Crea tu cuenta <i
                            class="fa-sharp fa-regular fa-address-card"></i></a></li>
                <li><a href="/login" class="cuotas">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#" class="cuotas">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img src="/images/img-home-banner.jpg" title="mercado liebre" alt="mercado liebre" class="home-banner">
    </header>
    <main class="main-container">
        <h2 class="titulares">Basado en tu ultima visita</h2>
        <section class="container-article">
            
            <article>
                <figure>
                    <img class="img-productos" src="/images/img-cafetera-moulinex.jpg" title="">
                </figure>
                <div class="caja-articulo">
                    <p class="product-desc-box"><i class="fa-solid fa-truck"></i></p>
                    <div class="precio-descuento">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>

                    <h3 class="descripciones">Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <figure>
                    <img class="img-productos" src="/images/img-macbook-pro-2019.jpg" title="">
                </figure>
                <div class="caja-articulo">
                    <p class="product-desc-box"><i class="fa-solid fa-truck"></i></p>
                    <div class="precio-descuento">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>

                    <h3 class="descripciones">MacBook Pro 2019</h3>
                </div>

            </article>
            <article>
                <figure>
                    <img class="img-productos" src="/images/img-samsung-galaxy-s10.jpg" title="">
                </figure>
                <div class="caja-articulo">
                    <p class="product-desc-box"><i class="fa-solid fa-truck"></i></p>
                    <div class="precio-descuento">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>

                    <h3 class="descripciones">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <figure>
                    <img class="img-productos" src="/images/img-tv-samsung-smart.jpg" title="">
                </figure>
                <div class="caja-articulo">
                    <p class="product-desc-box"><i class="fa-solid fa-truck"></i></p>
                    <div class="precio-descuento">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <h3 class="descripciones">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
         <h2 class="titulares">Seccion de ofertas</h2>
        <section class="container-article">
       
        <article>
            <figure>
                <img class="img-productos" src="/images/img-cafetera-moulinex.jpg" title="">
            </figure>
            <div class="caja-articulo">
                <p class="product-desc-box"><i class="fa-solid fa-truck"></i></p>
                <div class="precio-descuento">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                </div>
                <h3 class="descripciones">Cafetera Moulinex</h3>
            </div>
        </article>
        <article>
            <figure>
                <img class="img-productos" src="/images/img-macbook-pro-2019.jpg" title="">
            </figure>
            <div class="caja-articulo">
                <p class="product-desc-box"><i class="fa-solid fa-truck"></i></p>
                <div class="precio-descuento">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                </div>
                <h3 class="descripciones">MacBook Pro 2019</h3>
            </div>
        </article>
        <article>
            <figure>
                <img class="img-productos" src="/images/img-samsung-galaxy-s10.jpg" title="">
            </figure>
            <div class="caja-articulo">
                <p class="product-desc-box"><i class="fa-solid fa-truck"></i></p>
                <div class="precio-descuento">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                </div>
                <h3 class="descripciones">Samsung Galaxy S10</h3>
            </div>

        </article>
        <article>
            <figure>
                <img class="img-productos" src="/images/img-tv-samsung-smart.jpg" title="">
            </figure>
            <div class="caja-articulo">
                <p class="product-desc-box"><i class="fa-solid fa-truck"></i></p>
                <div class="precio-descuento">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                </div>
                <h3 class="descripciones">SmartTv Samsung 43"</h3>
            </div>
        </article>
        </section>
    </main>
    <footer class="footer-container">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="descripciones-footer">Con Mercado Liebre Cash, tenés cuotas sin interes con tarjeta o efectivo en
                    punto de pago.¡Y siempre
                    es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $2.500</h4>
                <p class="descripciones-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un
                    beneficio de Mercado Puntos</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p class="descripciones-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                    hacer,
                    porque estás siempre protegid@.</p>
            </section>
        <section class="copyright">
            <p class="descripciones-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>