<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Yanone+Kaffeesatz:wght@200&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/750a5cf973.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <di class="main-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" title="logo mercado liebre"
                alt="logo mercado liebre">
            <form class="search" action="/buscar" method="GET">
                <input class="cuotas" type="text" id="busqueda" name="q" placeholder="Buscar productos, marcas">
                <button class="cuotas" type="submit" value="Buscar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

            <p class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de
                credito
            </p>
        </di>




        <nav class="navBar">
            <ul class="left-navBar">
                <li><a href="/ofertas" target="_blank" rel="noreferrer" class="cuotas">Ofertas</a></li>
                <li><a href="#" class="cuotas">Tiendas Oficiales</a></li>
                <li><a href="#" class="cuotas">Vender</a></li>
                <li><a href="#" class="cuotas">Ayuda</a></li>
            </ul>
            <ul class="right-navBr">
                <li><a href="/crear" class="cuotas">Crea tu cuenta <i
                            class="fa-sharp fa-regular fa-address-card"></i></a></li>
                <li><a href="#" class="cuotas">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#" class="cuotas">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img src="/images/img-home-banner.jpg" title="mercado liebre" alt="mercado liebre" class="home-banner">
    </header>
    <main>
        <form class="formRegister" action="register.html" metohd="POST">
            <div class="inp"><label for="name"></label>
                <input type="text" id="name" name="name" value="Nombre">
            </div>

            <div class="inp">
                <label for="surname"></label>
                <input type="text" id="surname" name="surname" value="Apellido">
            </div>

            <div class="inp"><label for="user"></label>
                <input type="text" id="user" name="user" value="Nombre de usuari@">
            </div>

            <div class="inp"><label for="email"></label>
                <input type="text" id="email" name="email" value="Email">
            </div>

            <div class="fecha inp"><label>Fecha de Nacimiento:</label>
                <input  type="date" name="fechaNacimiento" id="fechaNacimiento">
            </div>

            <div class="inp">
                <label for="adress"></label>
                <input type="text" id="adress" name="adress" value="Domicilio">
            </div>

            <div class="perfilUser"><label class="label-title" for="perfil">Perfil de usuario:</label>
                <div class="choses">
                    <label name="comprador"><input type="radio" name="perfil" value="comprador">Comprador</label>
                    <label name="Comprador"><input type="radio" name="perfil" value="comprador">Venderor</label>
                </div>
            </div>

            <div class="categoria">
                <label class="title" for="categoria">Categorías de Interés:</label>
                <label class="inputCategoria"><input type="checkbox" name="categoria" value="Electro"> Electro</label>
                <label class="inputCategoria"><input type="checkbox" name="categoria" value="Moda">Moda</label>
                <label class="inputCategoria"><input type="checkbox" name="categoria" value="Hogar">Hogar</label>
                <label class="inputCategoria"><input type="checkbox" name="categoria"value="Juguetería">Juguetería</label>
                <label class="inputCategoria"><input type="checkbox" name="categoria" value="Vida Sana">Vida Sana</label></div>

            </div>

            <div class="fotoUser"><label>Foto de usuario:</label>
                <input type="file" name="foto" id="foto" accept=".jpg" multiple>
            </div>

            <div class="inp"><label class="inp-password" for="password">Confirmar contraseña:</label>
                <input type="password" id="password" name="password" value="Password">
            </div>

            <div class="inp"><label class="inp-password" for="ConfirmPassword">Contraseña:</label>
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" value="Confirmar contraseña">
            </div>

            <div class="button"> <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </div>
        </form>
    </main>
    <footer class="footer-container">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="descripciones-footer">Con Mercado Liebre Cash, tenés cuotas sin interes con tarjeta o efectivo en
                punto de pago.¡Y siempre
                es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $2.500</h4>
            <p class="descripciones-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un
                beneficio de Mercado Puntos</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p class="descripciones-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p class="descripciones-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>